{% extends "base.html" %}


{% block title %}Upload{% endblock %}

{% block css %}
  <style type="text/css">
    .main{
      margin-left: 100px;
    }    
  </style>
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="col-md-8 main">
        
        <form action="upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file"><br /><br />
          <p>Choose Channel</p>
          <select name="channel_id">
            {% for channel in all_channels %}
              <option value="{{channel.objectId}}">{{channel.name}}</option>
            {% endfor %}
          </select><br><br>
          <input type="submit" class="btn btn-primary btn-lg" value="Upload">
        </form>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

    </div>

    <div class="col-md-4">
    </div>
  </div>
    

{% endblock %}

{% block script %}
    
{% endblock %}
 